 <!-- Header -->
    <header class="header">
        <a class="logo" routerLink="/">LOGO</a>
        <nav class="main-nav">
           <ul class="main-nav-list">
            <li><a class="main-nav-link" routerLink="/section-how">How it works</a></li>
            <li><a class="main-nav-link" routerLink="/section-meals">Meals</a></li>
            <li><a class="main-nav-link" routerLink="/section-testimonials">Testimonials</a></li>
            <li><a class="main-nav-link" routerLink="/pricing">Pricing</a></li>
            <li><a class="main-nav-link nav-signin" routerLink="Call-to-Action">Try for free</a></li>
           </ul>
        </nav>
        <button class="btn-mobile-nav">
            <ion-icon class="mobile-icon"name="menu-outline"></ion-icon>
            <ion-icon class="mobile-icon"name="close-outline"></ion-icon>
        </button>
    </header>
