<footer>
    <div class="footer-container grid grid-5cols">
        <div class="logo-col">
            <a class="footer-logo" routerLink="/">LOGO</a>
            <ul class="socials-link">
                <li><ion-icon class="social-icon" name="logo-instagram"></ion-icon></li>
                <li><ion-icon class="social-icon" name="logo-facebook"></ion-icon></li>
                <li><ion-icon class="social-icon" name="logo-twitter"></ion-icon></li>
            </ul>
            <p class="copyright">Copyright &copy; 2023 by Omnifood Inc. All rights reserved.</p>
        </div>
        <div class="address-col">
            <p class="footer-heading">Contact Us</p>
            <address class="contacts">
              <p class="address-text">623 Harrison St., 2nd Floor, San Francisco, CA 94107</p>
              <p class="contact-details">
                 <a class="ph-no"href="tel:91+9568486263">91+ 9568486263</a>
                 <a class="domain-name"href="mailto:hello@omnifood.com">hello@omnifood.com</a>
              </p>
            </address>
        </div>
        <div class="account-col">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
                <li><a class="footer-links" href="">Create account</a></li>
                <li><a class="footer-links" href="">Sign in</a></li>
                <li><a class="footer-links" href="">iOS</a></li>
                <li><a class="footer-links" href="">Android</a></li>
            </ul>
        </div>
        <div class="company-col">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
                <li><a class="footer-links" href="">About Omnifood</a></li>
                <li><a class="footer-links" href="">For Business</a></li>
                <li><a class="footer-links" href="">Cooking Partners</a></li>
                <li><a class="footer-links" href="">Careers</a></li>
            </ul>
        </div>
        <div class="resoures-col">
            <p class="footer-heading">Resources</p>
            <ul class="footer-nav">
                <li><a class="footer-links" href="">Recipe directory</a></li>
                <li><a class="footer-links" href="">Help Center</a></li>
                <li><a class="footer-links" href="">Privacy & Terms</a></li>
            </ul>
        </div>
    </div>
</footer>
