       <!--01 Section hero  -->
       <section class="section-hero">
        <div class="hero">
            <div class="hero-text-box">
              <h1 class="hero-heading">A healthy meal deliver at your door , Every single day</h1>
              <p class="hero-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quas
                  fugiat aspernatur. Earum deserunt corrupti assumenda dolorum rem reiciendis, 
                 consequunturconsectetur adipisicing elit.</p>
            <a routerLink="Call-to-Action" class="btn btn--focus margin-right">Let's Start</a>
            <a routerLink="section-how" class="btn btn--outline">Learn More</a>
            <div class="customers">
                <div class="customer-images">
                   <img src="assets/images/customer-images/customer-01.webp" alt="customer photo">
                   <img src="assets/images/customer-images/customer-image-03.webp" alt="customer photo">
                   <img src="assets/images/customer-images/customer-image-02.webp" alt="customer photo">
                   <img src="assets/images/customer-images/customer-image-04.webp" alt="customer photo">
                   <img src="assets/images/customer-images/customer-image-05.webp" alt="customer photo">
                </div>
                <p class="customer-text"><span>30000+</span> customers for our product</p>
            </div>
            </div>
           <div class="hero-image-box">
            <img src="assets/images/Hero Images/img-01.webp" class="hero-img" alt="healthy food">
           </div>
        </div>      
    </section>
