    <!-- 02 Section Featured In-->
    <section class="container">
        <div class="feature-logo-box">
            <h2 class="feature-logo-heading"> As Featured in</h2>
            <div class="logos">
                <img src="/images/feature logos/business-insider.png" alt="businees-insider">
                <img src="/images/feature logos/forbes.png" alt="forbes">
                <img src="images/feature logos/techcrunch.png" alt="techchurch">
                <img src="images/feature logos/the-new-york-times.png" alt="the-new-york-times">
                <img src="images/feature logos/usa-today.png" alt="usa today">
            </div>
        </div>
    </section>
