 <!-- 07 Section on Call To Action -->
 <section id="Cta" class="section-cta">
    <div class="cta container">
        <div class="cta-text-box">
        <p class="secondary-heading">Get your first meal for free!</p>
        <p class="cta-text">*Healthy, tasty and hassle-free meals are waiting for you. Start eating well today. You can cancel or pause anytime. And the first meal is on us!</p>
      <!-- Cta-Form -->
        <form class="cta-form" action="#">
            <!-- Input name -->
            <div class="name-of-input">
             <label for="full-name">Full Name:</label>
             <input id="full-name" type="text" placeholder="Your Name" required>
            </div>
            <!-- Address of input -->
            <div class="email-address">
             <label for="email">Your Email Address:</label>
             <input  id="email" type="email" placeholder="Your Email" required>
            </div>
            <!-- Choose Option -->
            <div class="choose-option">
              <label for="options">Where did you here from us?</label>  
              <select id="options" required>
               <option value="">Please Choose one of them</option>
               <option value="chetan">Does Chetan told you.</option>
               <option value="Facebook">From Facebook.</option>
               <option value="instagram">From instagram.</option>
               <option value="udemy">From Udemy.</option>
               <option value="friends and family">From Friends and Family.</option>
              </select>
            </div>
              <!-- submit button -->
            <div class="Submit form">
              <button class="btn">Sign up Here</button>
            </div>
       </form> 
   </div>
         <!-- Image box of a cta section -->
        <div class="cta-img-box" role="img" aria-label="Neha eating food"></div>
    </div>
</section>
