 <!-- 05 Section Testamonials -->
 <section id="testimonial" class="section-testimonials grid">
    <div class="testimonials-container">
        <div class="testimonial-heading">
        <span class="primary-heading">testimonials</span>
        <h2 class="secondary-heading">Once you try it, you can't go back</h2></div>
        <div class="testimonials">
        
        <figure class="testimonial">
                <img class="testimonial-img" src="assets/images/customer-images/customer-image-02.webp">
               <blockquote class="testimonial-text"> Inexpensive, healthy and great-tasting meals, without even having 
                    to order manually! It feels truly magical.</blockquote>
                <figcaption>&mdash; Dave Bryson</figcaption>    
        </figure>
        <figure class="testimonial">
                <img class="testimonial-img"src="assets/images/customer-images/customer-image-04.webp">
               <blockquote class="testimonial-text">I got Omnifood for the whole family, and it frees up so much time! Plus, everything is organic and vegan and without plastic</blockquote>
                <figcaption>&mdash;  Ben Hadley</figcaption>    
        </figure>
        <figure class="testimonial">
                <img class="testimonial-img"src="assets/images/customer-images/customer-image-03.webp">
               <blockquote class="testimonial-text"> Omnifood is a life saver! I just started a company, so there's no time for cooking. I couldn't live without my daily meals now!</blockquote>
                <figcaption>&mdash; Hannah Smith</figcaption>    
        </figure>
        <figure class="testimonial">
                <img class="testimonial-img"src="assets/images/customer-images/customer-image-05.webp">
               <blockquote class="testimonial-text">The AI algorithm is crazy good, it chooses the right meals for me every time. It's amazing not to worry about food anymore!</blockquote>
               <figcaption>&mdash; Daniel Brayan</figcaption>
        </figure>
    </div>
    </div>
    <div class="gallery media-704 grid-3cols">
        <img class="gallery-img" src="assets/images/Gallery/gallery-1.jpg" alt="gallery-photo-01">
        <img class="gallery-img" src="assets/images/Gallery/gallery-11.jpg" alt="gallery-photo-02">
        <img class="gallery-img" src="assets/images/Gallery/gallery-2.jpg" alt="gallery-photo-03">
        <img class="gallery-img" src="assets/images/Gallery/gallery-4.jpg" alt="gallery-photo-04">
        <img class="gallery-img" src="assets/images/Gallery/gallery-3.jpg" alt="gallery-photo-05">
        <img class="gallery-img" src="assets/images/Gallery/gallery-12.jpg" alt="gallery-photo-06">
        <img class="gallery-img" src="assets/images/Gallery/gallery-5.jpg" alt="gallery-photo-07">
        <img class="gallery-img" src="assets/images/Gallery/gallery-6.jpg" alt="gallery-photo-08">
        <img class="gallery-img" src="assets/images/Gallery/gallery-7.jpg" alt="gallery-photo-09">
        <img class="gallery-img" src="assets/images/Gallery/gallery-8.jpg" alt="gallery-photo-10">
        <img class="gallery-img" src="assets/images/Gallery/gallery-10.jpg" alt="gallery-photo-11">
        <img class="gallery-img" src="assets/images/Gallery/gallery-9.jpg" alt="gallery-photo-12">
    </div>
</section>
